name: kuksa_gps_feeder

on:
  push:
    branches: [ main ]
  pull_request:
  workflow_dispatch:

concurrency:
      group: ${{ github.ref }}-${{ github.workflow }}
      cancel-in-progress: true

# Needed as default_workflow_permissions is "read"
permissions:
  packages: write

env:
  EPHEMERAL_IMAGE: ttl.sh/eclipse-kuksa/kuksa-gps-provider/gps-provider-${{github.sha}}

jobs:

  check_ghcr_push:
    uses: eclipse-kuksa/kuksa-actions/.github/workflows/check_ghcr_push.yml@2
    secrets: inherit

  build-gps-provider:
    name: "Build GPS provider"
    runs-on: ubuntu-latest
    needs: check_ghcr_push

    steps:
    - uses: actions/checkout@v4

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v5
      with:
        # list of Docker images to use as base name for tags
        images: ghcr.io/${{ github.repository }}/gps-provider
        # generate Docker tags based on the following events/attributes
        tags: |
          type=ref,event=branch
          type=ref,event=pr
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
          type=semver,pattern={{major}}

    - name: Log in to the Container registry
      if: needs.check_ghcr_push.outputs.push == 'true'
      uses: docker/login-action@v3
      with:
        registry: ghcr.io
        username: ${{ github.repository_owner }}
        password: ${{ secrets.GITHUB_TOKEN }}


    - name: Build and push KUKSA gps feeder container image and push to ghcr.io and ttl.sh
      if: needs.check_ghcr_push.outputs.push == 'true'
      uses: docker/build-push-action@v5
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        push: true
        tags: |
          ${{ steps.meta.outputs.tags }}
          ${{ env.EPHEMERAL_IMAGE }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Build ephemeral KUKSA gps feeder and push to ttl.sh
      if: needs.check_ghcr_push.outputs.push == 'false'
      uses: docker/build-push-action@v5
      with:
        platforms: |
          linux/amd64
          linux/arm64
        context: .
        push: true
        tags: ${{ env.EPHEMERAL_IMAGE }}
        labels: ${{ steps.meta.outputs.labels }}

    - name: Posting message
      uses: eclipse-kuksa/kuksa-actions/post-container-location@2
      with:
        image: ${{ env.EPHEMERAL_IMAGE }}
